/* COLORS */
/*
main: #ED4C67;
*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(237,76,103,0.43461134453781514) 0%, rgba(247,247,247,1) 20%, rgba(247,247,247,1) 80%, rgba(237,76,103,0.43) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#container {
    width: 1024px;
    margin: 3rem auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.grid {
    box-sizing: content-box;
    width: 700px;
    height: 700px;
    border: 3px solid rgb(237, 76, 103, .6);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border: solid 5px rgba(237, 76, 103, .5);
    color: rgba(237, 76, 103, .6);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 12px 36px;
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 8px;
}

.btn:hover {
    color: #f7f7f7;
    background-color: rgb(237, 76, 103, .6);
    border: solid 5px rgba(237, 76, 103, 0);
}

#footer {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: rgba(237, 76, 103, 0.4);
    width: 900px;
}

